
dl, dd, dt
{
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body 
{
	line-height: 1.3;
}
ol 
{ 
	padding-left: 1.4em;
	list-style: decimal;
}
ul 
{
	padding-left: 1.4em;
	list-style: square;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
	margin-left:auto;
	margin-right:auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#585858;
    background-color: #FFFFFF;
}
a
{
	color:#FF0000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}
pre
{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.header
{
    height:60px;
    width:100%;
	margin-bottom:15px;
}

.content
{
    display: table-cell;
	font-size:1.1em;
	vertical-align: top;
    width:80%;
}
.content p
{
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}
.sidebar{
    display: table-cell;
	float:left;
    height:1100px;
    width:100%;
}

.foot 
{
    height:0px;
}

.sidebar-inner p
{
    margin-bottom:3px;
	color:#585858;
    font-size: 120%;
}
.sidebar-inner ul
{
    margin-top:0.6em;
    margin-bottom:1em;
}
.sidebar-inner a
{
	color:#FF0000;
}

.sidebar-filler
{
    height:20px;
}

.sidebar-chapter li
{
    margin-bottom:0.4em;
}

.sidebar-section li
{
    margin-bottom:0.2em;
}

.sidebar-section p
{
    font-size: 100%;
}

.sidebar-section-header
{
    font-size: 110%;
}

.shell
{
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
    font-family:Courier, monospace;
}
.code
{
    font-weight:bold;
    font-family:Courier, monospace;
    background-color:#DDDDDD;
}
.headname
{
    font-weight:bold;
}

.subside
{
    margin-top:4px;
    margin-left:4px;
}

.article h2
{
    font-size: 120%;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.article h3
{
    font-size: 100%;
    margin-left: 1em;
    margin-top: 1.0em;
}
.article h4
{
    font-size: 100%;
    margin-left: 0em;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}
 
.sectionname a
{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#585858;
}

.subsectionname a
{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#585858;
}
.urlstyle tt
{
    font-family:Georgia, monospace;
    font-size: 100%;
}
.authorhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier;
}
.datehead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}
.versionhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}

.filename
{
    font-family:Courier, monospace;
    font-style: italic;
    font-weight:bold;
    font-size: 90%;
}

.envar
{
    font-family:Courier, monospace;
    font-weight:bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.variable
{
    font-family:Courier, monospace;
    font-weight:bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.selfprogname
{
    font-family:Courier, monospace;
    background-color:#DDDDDD;
    padding: 0.1em;
}
.commandname
{
    font-family:Courier, monospace;
    background-color:#EFEFEF;
    padding: 0.1em;
}
.progname
{
    font-family:Courier, monospace;
    background-color:#EFEFEF;
    padding: 0.1em;
}
.optstyle
{
    font-family:Courier, monospace;
    font-weight:bold;
}
.argstyle
{
    font-family:Courier, monospace;
    font-style: italic;
}

.sectionname
{
    font-size: 120%;
}
.urlstyle
{
}

.section h2
{
    font-size: 120%;
}

dt.itemize
{
    float:left;
    clear:left;
    margin-right: 1em;
}

dt.description
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sectiontext
{
    margin-left: 2em;
    width: 800px;
}

pre
{
    background-color: #DCEFFF;
    padding: 0.2em 0.2em;
    font-size: 120%;
}

span, strong, em
{
    white-space: nowrap;
}
